<!DOCTYPE html>
<html>

  <head>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://kit.fontawesome.com/f037fb4aee.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body ng-app="CharApp" ng-controller="CharCtrl">
    <div style="height:220px;"><!--HEADER--></div>
	<div class="welcome" ng-if="!started && characters.length == 0">
        <span>I see you just got here.<br/>Let's start this adventure by creating our characters!<br/></span>
        <button type="button" class="btn btn-primary" id="add-char-bt" ng-if="!started" data-toggle="modal" data-target="#myModal"><i class="fas fa-user-plus"></i> Create 1st character</button>
    </div>
    <div class="container">

      <!--create char-->
      <div>
        <button type="button" class="btn btn-primary" id="add-char-bt" ng-if="!started && characters.length > 0" ng-click="toggleCharForm();" data-toggle="modal" data-target="#myModal">Create another character</button>
      </div>
      
      <div style="height:40px;"></div>
      
      <div ng-if="characters.length">
		<div class="char-table">
			<table class="table table-striped">
			  <thead>
				<tr>
				  <td>#</td>
				  <td>Name</td>
				  <td>Class</td>
				  <td>Init.</td>
				  <td>Idle</td>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="c in characters">
				  <td><b>{{c.acr}}</b></td>
				  <td>{{c.name}}</td>
				  <td>{{c.class}}</td>
				  <td>{{c.init}}</td>
				  <td>{{c.idle}}</td>
				</tr>
			  </tbody>
			</table>
		</div>
      
        <div style="height:40px;"></div>
        
        <button type="button" class="btn btn-outline-success btn-lg" ng-click="start()" ng-if="!started">START</button>
        
        <div ng-if="started">
          <hr />
          
          <div class="race-box">
            
			<table cellpadding="0" cellspacing="0">
				<tr valign="top">
					<td>
						<div ng-repeat="ch in characters" class="lane" style="background-color:{{laneCharColors[$index%13]}}"><b>{{ch.acr}}</b></div>
					</td>
					<td>
						<div class="td-lanes">
							<div ng-repeat="ch in characters" class="char-lane">
								<div class="action" 
									ng-repeat="r in ch.race" 
									style="width:{{r.duration*10}}px; color:#{{colors[($index+$parent.$index)%4]}}; border-bottom-color:#color:#{{colors[($index+$parent.$index)%4]}}"
									ng-mouseover="r.tooltip=true;console.log(r);" ng-mouseout="r.tooltip=false"
									>{{r.text}} <div ng-if="r.tooltip" class="race-tooltip">{{r.text}} ({{r.duration}}s)</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div ng-repeat="ch in characters" class="lane lane-off" style="background-color:{{laneCharColors[$index%13]}}"><b>{{ch.acr}}</b></div>
					</td>
				</tr>
			</table>
			
            <!--div class="char-action-box" ng-repeat="ch in characters">
              <div class="left">
                <div class="lane" style="background-color:{{laneCharColors[$index%13]}}"><b>{{ch.acr}}</b></div>
              </div>
              <div class="right">
                  <div class="action" 
                    ng-repeat="r in ch.race" 
                    style="width:{{r.duration*10}}px; color:#{{colors[($index+$parent.$index)%4]}}; border-bottom-color:#color:#{{colors[($index+$parent.$index)%4]}}"
					ng-mouseover="r.tooltip=true;console.log(r);" ng-mouseout="r.tooltip=false"
                    >{{r.text}} <div ng-if="r.tooltip" class="race-tooltip">{{r.text}} ({{r.duration}}s)</div></div>
              </div>
              <div style="clear:both;"></div>
            </div-->
            
          </div>
          
          <hr />
          
          <form ng-submit="takeTurn()">
          <div id="take-turn-form" ng-if="charTurn">
            <h3>Action of {{charTurn.name}}</h3>
            <div class="form-group">
              <label>Action:</label>
              <input type="text" id="action" class="form-control" ng-model="turn.action" placeholder="sword attack, tumble, spell, ...">
            </div>
            <div class="form-group">
              <label>Duration (s):</label>
              <input type="number" class="form-control" ng-model="turn.duration">
            </div>
            <button type="submit" class="btn btn-primary">Take Turn</button>
          </div>
          </form>
        </div>
      </div>
      
    </div>
    <div style="height:50px;"></div>
	
	
	
	<!-- MODALS -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header {{charFormHeaderClass}}">
					<div class="form-char-class-header" ng-if="character.class">{{character.class}}</div>
					<div ng-if="!character.class" data-ng-init="initClasses()">
						<div class="char-class {{c.lc}}" ng-repeat="c in classes" ng-click="selectClass(c.lc)">
							<div class="confirm-class" ng-if="showClass[c.lc]"><div class="check" ng-click="confirmClass(c.lc); $event.stopPropagation();"></div><div class="cancel" ng-click="selectClass('none'); $event.stopPropagation();"></div></div>
							<span>{{c.uc}}</span>
						</div>
					</div>
				</div>
				<div class="modal-body" style="color:black;">
					<div ng-if="character.class">
						<div class="form-group">
							<label>Name:</label>
							<input type="text" class="form-control" ng-model="character.name">
						</div>
						<div class="form-group">
							<label>Initiative bonus:</label>
							<input type="number" class="form-control" ng-model="character.initiativeBonus" style="width:120px;">
						</div>
						<div class="form-group">
							<label>Rolled initiative:</label>
							<br/>
							<input type="number" class="form-control" ng-model="character.initiative" style="width:120px;display:inline;">
							<button type="button" style="display:inline" class="btn btn-outline-secondary btn-sm" ng-click="roll();"><i class="fas fa-dice-d20"></i> Roll d20</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" ng-click="addChar()" ng-if="character.class && character.name && character.initiative">Create</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- MODALS -->
  </body>

</html>
